CAVA_URL=http://webhook-service:8000
CAVA_URI=/api/v01/motion
CAVA_CAMERA=driveway-cam.thesniderpad.com
CAMERA_PASS={{ vaulted.LINUX_CLEAR_PASSWORD }}
CAVA_USER=admin
CAVA_PASSWORD={{ vaulted.CAVA_PASS }}
RABBITMQ_SERVICE_SERVICE_HOST=rabbitmq-service
RABBITMQ_DEFAULT_USER={{ vaulted.INDIGO_USERNAME }}
RABBITMQ_DEFAULT_PASS={{ vaulted.INDIGO_PASSWORD }}
TZ=America/Denver
INDIGO_USER={{ vaulted.INDIGO_USERNAME }}
INDIGO_PASS={{ vaulted.INDIGO_PASSWORD }}
INDIGO_URL=http://blanc:8000
TOMORROW_IO_API_KEY={{ vaulted.TOMORROW_IO }}
TOMORROW_IO_LATITUDE=40.571709
TOMORROW_IO_LONGITUDE=-111.791092
