CAVA_URL=http://webhook-service:8000
CAVA_URI=/api/v01/motion
CAVA_CAMERA=driveway-cam.thesniderpad.com
CAMERA_PASS={{ vaulted.LINUX_CLEAR_PASSWORD }}
CAVA_USER=admin
CAVA_PASSWORD={{ vaulted.CAVA_PASS }}
RABBITMQ_SERVICE_SERVICE_HOST=rabbitmq-service
RABBITMQ_DEFAULT_USER={{ vaulted.INDIGO_USERNAME }}
RABBITMQ_DEFAULT_PASS={{ vaulted.INDIGO_PASSWORD }}
TZ=America/Denver
indigo_username={{ vaulted.INDIGO_USERNAME }}
indigo_password={{ vaulted.INDIGO_PASSWORD }}
INDIGO_URL=http://blanc.thesniderpad.com:8000
tomorrow_io_api_key={{ vaulted.TOMORROW_IO }}
TOMORROW_IO_LATITUDE=40.571709
TOMORROW_IO_LONGITUDE=-111.791092
tmrw_location_id={{ vaulted.TMRW_LOCATION_ID }}
netatmo_client_id={{ vaulted.netatmo_client_id }}
netatmo_client_secret={{ vaulted.netatmo_client_secret }}
netatmo_password={{ vaulted.netatmo_password }}
netatmo_device_id=70:ee:50:03:81:2e
