[defaults]
host_key_checking = False
inventory = inventory.yaml
gathering = smart
forks = 500
display_skipped_hosts = false
vault_password_file = ./.hashivault-password
deprecation_warnings=False

[inventory]
enable_plugins = yaml

[ssh_connection]
pipelining=True
